:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --nav-text-color: #000000;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -------------Стили главной страницы-------------*/

/* -------------------HEADER---------------------- */

.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}

.header-main-nav {
  display: flex;
}

/* -------------------LOGO----------------------- */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-accent {
  color: var(--accent-color);
}

/* ------------------HEADER-NAV -----------------------*/

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .link {
  color: var(--nav-text-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item + .header-contacts-item {
  margin-left: 50px;
}

.header-contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus,
.header-link.current,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* -------------------HERO---------------------- */

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--footer-background-color);
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-background-color);
}

/* -----------------HERO-BUTTON------------------- */

.hero-button {
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

/* -------------------SECTIONS---------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-top-padding {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

.section-list {
  display: flex;
}

.section-item + .section-item {
  margin-left: 30px;
}

.section-item-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.section-item-text {
  line-height: 1.71;
}

/* -------------------TEAM---------------------- */

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  background-color: var(--primary-background-color);
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-thumb {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team-item-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-item-text {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* -------------------FOOTER---------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .link {
  color: var(--primary-background-color);
}

.footer-link {
  font-style: normal;
  line-height: 1.71;
}

.footer-link.transparent {
  color: var(--contacts-text-color);
}

/* -----------------Стили Портфолио---------------------*/

/* ----------------FILTER BUTTONS---------------------- */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  min-width: 73px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

/* -----------------PROJECT-LIST---------------------- */

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.project-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 1px solid transparent;
}
